body {
  background-color: #008B8B;
  color: #000;
  margin: 20px;
  padding: 0;
}

/*Navigation*/
.topnav a {
    float: left;
    color: #000;
    text-align: center;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 30px;
    border-bottom: 5px solid #000;
    margin: -5px;
}
.firsttopnav {
    border-right: 2px solid #000;
}

/*Headings*/
.header {
  padding: 15px;
}
.h1 {
  height: 100px;
  width: 100px;
  margin: ;
  padding: ;
  display: inline;
  justify-content: center;
  text-align: center;
}

/*Content*/
.content {
  background-color: #00cccc;
  color: #000;
  padding: 100px;
}
.rightside {
  box-sizing: border-box;
  height: 350px;
  width: 700px;
  justify-content: right;
  text-align: left;
  display: inline-block;
}
.box1 {
  background-color: #00b377;
  color: #f2f2f2;
  display: inline-block;
  box-sizing: border-box;
  height: 10px;
  width: 70px;
  border: 2px solid #000;
  margin: 20px;
  padding: 10px 10px 30px 10px;
  text-align: center;
}
.box2{
  background-color: #00b377;
  color: #f2f2f2;
  display: inline-block;
  box-sizing: border-box;
  height: 150px;
  width: 150px;
  border: 2px solid #000;
  margin: 20px;
  padding: 0px 10px 0px 10px;
  text-align: center;
}

/*Images*/
.thumbnail {
  height: 300px;
  width: 300px;
  border-style: solid;
  border-color: #000;
  display: inline;
  image-orientation: ;
}
.img {
  display: inline;
  position: relative;
  float: left;
  width: 350px;
  height: 350px;
  text-align: left;
}
